{% extends "main.html" %}

{% block content %}
<h1>Сайты</h1>
<div class="table-responsive">
  <table class="table table-bordered table-hover text-nowrap" data-test="urls">
    <thead>
    <tr>
      <th>ID</th>
      <th>Имя</th>
      <th>Последняя проверка</th>
      <th>Код ответа</th>
    </tr>
    </thead>
    <tbody>
      {% if urls %}
        {% for row in urls %}
          <tr>
            <th>{{ row['id'] }}</th>
            <th><a href="{{ url_for('get_url', id=row['id']) }}">{{ row['name'] }}</a></th>
          </tr>
        {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}